* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* Style Nav */
a {
    text-decoration: none;
    color: #444444;
    text-underline-position: under;
}

a:hover {
    display: inline;
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
}

.nav-container {
    background-color: #f1ede9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: solid 1px #444444;
    height: fit-content;
}
  
nav {
    width: 80%;
    margin: auto;
    padding: 1rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
    text-transform: uppercase;
}

.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    position: relative;
}

/* Homepage */

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

body {
    color: #444444;
    font-family: 'Sono', sans-serif;
    font-weight: 200;
    font-size: 20px;
    background-color: #f1ede9;
    display: grid;
    place-content: center;
}

main {
    min-height: 100vh;
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five';
  
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;

}

h1 {
    font-family: 'Noto Serif Display', serif;
    font-size: 150px;
}

section {
    border-bottom: solid 1px #444444;
}

.testimonial {
    padding: 2rem;
}

.testimonial:nth-child(1) {
    grid-area: one;
  }
  .testimonial:nth-child(2) {
    grid-area: two;
  }
  .testimonial:nth-child(3) {
    grid-area: three;
  }
  .testimonial:nth-child(4) {
    grid-area: four;
  }
  .testimonial:nth-child(5) {
    grid-area: five;
  }

  @media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .testimonial-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }
  
  @media screen and (min-width: 54em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
  }
  
  @media screen and (min-width: 75em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }
  